## SLI IPTABLES

*mangle
COMMIT

*nat
COMMIT

# DEFAULT ALL CHAINS TO ACCEPT ON FALLTHROUGH
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

:RPORTS - [0:0]
[0:0] -A RPORTS -p tcp -m tcp --dport 22 -j ACCEPT

# Kafka and zookeeper
[0:0] -A RPORTS -p tcp -m tcp --dport 2281 -j ACCEPT
[0:0] -A RPORTS -p tcp -m tcp --dport 2888 -j ACCEPT
[0:0] -A RPORTS -p tcp -m tcp --dport 3888 -j ACCEPT
[0:0] -A RPORTS -p tcp -m tcp --dport 9093 -j ACCEPT

# Monitoring
[0:0] -A RPORTS -p tcp -m tcp --dport 4949 -j ACCEPT
[0:0] -A RPORTS -p tcp -m tcp --dport 5666 -j ACCEPT
[0:0] -A RPORTS -p tcp -m tcp --dport 2999 -j ACCEPT

# Allow ping
[0:0] -A INPUT -p icmp --icmp-type echo-request -j ACCEPT

# Allow localhost full access
[0:0] -A INPUT -i lo -j ACCEPT

# Allows Connected traffic though
[0:0] -A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

# allow kafka servers to communicate to each other
{% if inventory_hostname in groups.prod %}
[0:0] -A INPUT -s {{server1_name}} -j RPORTS
[0:0] -A INPUT -s {{server2_name}} -j RPORTS
[0:0] -A INPUT -s {{server3_name}} -j RPORTS
[0:0] -A INPUT -s {{server1_ip_ext}} -j RPORTS
[0:0] -A INPUT -s {{server2_ip_ext}} -j RPORTS
[0:0] -A INPUT -s {{server3_ip_ext}} -j RPORTS
{% endif %}
{% if inventory_hostname in groups.stage %}
[0:0] -A INPUT -s {{stage1_name}} -j RPORTS
[0:0] -A INPUT -s {{stage2_name}} -j RPORTS
[0:0] -A INPUT -s {{stage3_name}} -j RPORTS
{% endif %}

{% if inventory_hostname in groups.prod %}

#nagios
[0:0] -A INPUT -s {{ monitor_server_ip}} -j RPORTS
# whatever servers need to access kafka

# Block
[0:0] -A INPUT -p tcp -m tcp --dport 22 -j DROP
[0:0] -A INPUT -p udp -m udp --dport 22 -j DROP
[0:0] -A INPUT -p tcp -m tcp --dport 111 -j DROP
[0:0] -A INPUT -p udp -m udp --dport 111 -j DROP
[0:0] -A INPUT -p tcp -m tcp --dport 3000 -j DROP
[0:0] -A INPUT -p udp -m udp --dport 3000 -j DROP
[0:0] -A INPUT -p tcp -m tcp --dport 3013 -j DROP
[0:0] -A INPUT -p udp -m udp --dport 3013 -j DROP
[0:0] -A INPUT -p tcp -m tcp --dport 9999 -j DROP
[0:0] -A INPUT -p udp -m udp --dport 9999 -j DROP

# Drop Everything else
[0:0] -A INPUT -j DROP
####################################################################

COMMIT
